@font-face {
    font-family: "PressStart";
    src: url(../font/PressStart2P-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}
.height-60vh{
    height: 60vh;
}
p{
    margin: 0;
    padding: 0;
}
h1,h2,h3,p,a{
    font-family: Rubik, sans-serif;
}
.noHover{
    pointer-events: none;
}

/* ******* COLOR ******* */
.white-color{
    color: #FFFFFF;
}
.black-color{
    color: black;
}
.prim-color{
    color: #4B8F8C;
}

.grey-color{
    color: #EAEAEA;
}

.text-center{
    text-align: center;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #FFFFFF;
}

.display-flex{
    display: flex;
}

.jus-con-bet{
    justify-content: space-between;
}

.mb40{
    margin-bottom: 40px;
}



.resp {
    width: 100%;
    height: auto;
}

.carre {
    width: 70px;
    height: 70px;
}

.img {
    width: 130px;
    min-width: 60px;
}

.full-width{
    width: 100%;
    padding: 0;
    margin: 0;
}
.width50{
    width: 50px;
}

.width-30per{
    width: 30%;
}
.bg-black{
    background-color: black;
    padding: 5px;
}

.width80{
    width: 80%;
}

.title-h2{
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
}
.width-40per{
    width: 40%;
}




/*.boardCoursShade {*/
/*    clip-path: polygon(70% 0%, 80% 100%, 0% 100%, 0% 0%);*/
/*    font-size: 0px;*/
/*    line-height: 0%;*/
/*    !* width: 240px; *!*/
/*    height: 100%;*/
/*    z-index: 0;*/
/*    background-color: #000;*/
/*    opacity: 0.1;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 12px;*/
/*}*/

/* ******* Header ******* */
.box-header{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page-home-image {
    height: 100vh;
    background-image: url(../media/image/page-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.page-cours-image{
    height: 60vh;
    background-image: url(../media/image/page-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.bar-navigation {
    background-color: #2C365E;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.bar-navigation ul{
    margin-bottom: 0;
}


.box-bar{
    flex-grow: 1;
}
.box-bar1{
    flex-grow: 8;
}

.lientop{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: 100%;
    padding: 0;
    align-items: center;
}

.lientop li{
    text-align: center;
}



.blabla{
    display: flex;
    justify-content: space-between;


}


.logo {
    font-family: "PressStart", sans-serif;
    font-size: 30px;
    padding: 5px;
    color: white;
}


#hamb{
    width:50px;
    padding:0;
    cursor:pointer;
}

#hamb li{
    height:2px;
    background-color: white;
    margin-bottom:10px;
    width:100%;
}

.hamburger{
    display:none;
    position:absolute;
    top:100%;
    right:0;
    background-color: #2C365E;
}

.hamburger.show{
    display:block
}

.hamburger nav {

    position: relative;
    width: 220px;
    margin: 20px;
}

.hamburger nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hamburger nav li {
    margin: -4px 0 0 0;
}

.hamburger nav a {
    display: block;
    text-decoration: none;
    background: #4B8F8C;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 1em 1.52em;
}
.hamburger nav a:hover {
    background-color: #43807e;
}


.hamburger nav header {
    display: block;
    background: #4B8F8C;
    border-radius: 4px;
    border-bottom: 5px solid #FFFFFF;
    padding: 1em 1.52em;
    color: white;
    font-family: Rubik, sans-serif;
    cursor:pointer;

}

.notice-text{
    align-items: center;
    justify-content: center;
    font-family: Rubik, sans-serif;!important;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;

}
.notice-mini-text{
    font-size: medium;
    margin-top: 30px;
}

.notice-button-first{
    background-color: #4B8F8C;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
}

.notice-button-second{
    background-color: #FFFFFF;
    color: #4B8F8C;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border: 2px solid #4B8F8C;
    line-height: normal;

}

.sous-header-class{
    text-align: center;
    padding: 30px;
}

.newlesson a {
    color: white;
    text-decoration: underline;
    position: absolute;
    font-size: 1em;
}


.bestchoice {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 20px;

}
.bestchoice span {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    width: 200px;
}
.bestchoice div{
    padding: 20px 10px;
    background-color: #f8f8f9;
}

.tojoin {
    background-color: #85f9fd;
    padding: 20px;
    height: 400px;
}

.profcode {
    background-image: url(../media/image/professeure-enseignement.jpg);
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.profcode h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
}
.profcode p {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

.profcode a:hover{
    color:#4B8F8C;
}


/* ****** CARROUSEL ******* */

.carousel-control-next, .carousel-control-prev, .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    background-color: transparent;
    border: none;
    opacity: 1;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-next, .carousel-control-prev {
    width: 9%;
}

.carousel-indicators {
    bottom: -30px;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
}

.carousel-indicators button:hover, .carousel-indicators button.active {
    background-color: black;
}
.carousel-inner {
    box-sizing: border-box;
}

.carousel-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carousel-wrapper > div{
    width:48%;
    display: flex;
    justify-content: center;
}

/*.carousel-class-wrapper {*/
/*    display: inline-block;*/
/*    !*flex-direction: column;*!*/
/*    width: 48%;*/
/*    padding: 15px;*/
/*    box-sizing: border-box;*/

/*}*/

/* ****** Word Carrousel ****** */

.word-carousel{
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
}
.word-carousel li{
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
    font-family: Rubik, sans-serif;
    color: #FFFFFF;
}

.flip3{
    -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    padding-left: 0;
    /*font-size: 38px;*/
    /*text-align: center;*/
}

@-webkit-keyframes flip3 {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0;
    }
    99.99% {
        margin-top: 0;
    }
    100% {
        margin-top: -270px;
    }
}
@keyframes flip3 {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0;
    }
    99.99% {
        margin-top: 0;
    }
    100% {
        margin-top: -270px;
    }
}



/* ******* Fin Carrousel ****** */

/* ******** Classes - Chocolat ******** */
.list-class{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /*grid-gap: 30px;*/
    margin-left: auto;
}

.list-class > div {
    display:flex;
    justify-content: center;
}

.class-wrapper {
    display: flex;
    /*flex-direction: column;*/
    /*box-sizing: border-box;*/
    height: 230px;
    color: white;
    padding: 20px 20px;
    width: 450px;
    margin:20px;
    justify-content: space-between;

}

.class-wrapper-text{
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.class-wrapper-text h1{
    font-size: 40px;
    padding: 0 0 10px;
    margin: 0;
}
.class-wrapper-text p{
    padding: 0 0 35px;
}
.class-wrapper-img{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.text-small{
    font-size: small;
}


/* ****** HomePage ******* */

.cubelearnlesson{
    display: flex;
    justify-content: space-around;
}
.cubelearnlesson > div {
    width: 100%;
    max-width: 250px;
    /*height: 250px;*/
    background-color: #FFFFFF;
}

.cubelearnlesson > div a {
    text-align: center;
    color: black;
}
.cubelearnlesson > div a h3 {
    font-size: 20px;
    margin: 10px;
}
.cubelearnlesson > div a span {
    font-size: 14px;
    display: block;
    text-decoration: none;
}
.cubelearnlesson > div a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.learnlesson h3{
    font-weight: bold;

}

.learnlesson {
    background-color: #f8f8f9;
    padding: 50px 0 50px;
}
.learnlesson div {
    padding: 30px 0;
}
.learnlesson div h2 {
    text-align: center;

}
.learnlesson div p {
    text-align: center;
}

main a {
    text-decoration: none;
}

/* ****** CSS ADMIN Media ****** */
.insert-cours{
    align-items: center;
}
.insert-cours a{
    text-decoration: none;
    text-align: center;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 20px;


}

.classes-name{
    font-size: 250px;
    color: navy;
}


/* ****** Page Classes ****** */

.nav-cours{
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid #4B8F8C;
}
.nav-cours a:hover{
    color: #4B8F8C;
}

.page-class{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.production-video{
    margin: 20px;
}
.list-class-video{
    justify-items: center;
    margin: 20px;
    width: 30%;
    text-align: center;

}
.list-class-video div{
    border: 2px solid #4B8F8C;
}

.form-search{
    display: flex;
    justify-content: center;
    margin-top: 10px;


}
.form-search-input{
    width: 60%;
    height: 42px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #4B8F8C;
    color: #4B8F8C;
}

.recherche_null{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;

}
.recherche_null p{
    margin: 20px;
}


/* ***** Class **** */
.container-class{
    border-top: 1px solid #4B8F8C;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.container-class span{
    background-color: #f8f8f9;
    padding: 10px 30px;
    border: 1px solid #4B8F8C;
}

#description,
#avis,
#forum,
#support{
    cursor:pointer;
}
.description,
.support,
.avis,
.forum{
    display:none;
    border: 1px solid ;
    width: 100%;
    text-align: center;
}

.description.show,
.support.show,
.avis.show,
.forum.show{
    display: block;
}

.support a,
.forum a{
    color: black;
}

.support tr{
    border: 1px solid #4B8F8C;
    width: 80%;
}
.support td{
    padding: 5px 30px;
}
.center{
    margin-right: auto;
    margin-left: auto;
}

.feedback{
    height: 80vh;
    background-color: #f8f8f9;
    width: 80%;

}

.forum ul{
    display: flex;
    justify-content: space-around;

}
.forum li{
    margin: 10px 0;
    border-bottom: 1px solid #4B8F8C;
}








/* ****** Footer ****** */

footer div{
    color: white;
    margin: 0 20px;
    align-self: center;
}


/* ******Page en construction ******** */

.construct{
    height: 100vh;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.construct h1{
    margin-top: 20px;
    color: yellow;

}
.construct h1 span{
    color: white;
    background-color: red;
}
.construct p:first-of-type{
    color: yellow;
    margin: 50px 0 10px;
    font-size: 20px;
}
.construct p:last-of-type{
    color: red;
    font-size: 20px;

}

/********* Login ******* */
.show-name-user{

}


/* ******* Responsive ******** */

@media screen and (max-width: 992px) {
    .carousel-wrapper {
        display: flex;

    }

    .carousel-wrapper > div{
        width:100%;

    }

    .class-wrapper{
        width: 350px;
    }
    .class-wrapper-text h1{
        font-size: 30px;
    }
    .class-wrapper-text p{
        font-size: 14px;
    }
    .class-wrapper-img{
        margin-right: 0;
    }

    .cubelearnlesson{
        margin: 20px ;
        flex-direction: column;
        align-items: center;
    }

    .cubelearnlesson > div{
        margin: 40px;
    }

    .bestchoice{
        flex-direction: column;
        align-items: center;
    }

    .bestchoice > div {
        margin: 20px;
        padding: 20px 40px;
    }
    .bar-navigation{
        position: relative;
        width: 100%;
        z-index: 10000;
    }

    footer.bar-navigation{
        flex-direction: column;
        position: relative;
    }


    footer.bar-navigation div{
        margin: 20px;
    }

    .list-class{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 0;

    }
    .nav-theme{
        justify-content: center;

    }
    .nav-theme ul{
        flex-wrap: wrap;
    }

    .page-class{
        flex-direction: column;
    }

    .box-bar1{
        flex-grow: 0;
    }

    .responsive{
        display: none;
    }


}
@media screen and (min-width: 992px){
    #hamb{
        display: none;
    }
}

@media screen and (min-width: 1400px){
    .class-wrapper{
        width: 550px;
        height: 300px;
    }
    .class-wrapper-text h1{
        font-size: 50px;

    }
    .class-wrapper-text p{
        font-size: 22px;
    }
}








