{% extends "base.html.twig" %}

{% block main %}

    <div class="construct">
        <img src="../public/assets/media/image/construction.jpg" alt="page en construction" class="">
        <h1>PAGE EN <span>CONSTRUCTION</span>!</h1>
        <p>La page est en cours de création..</p>
        <p>N'hésitez pas à revenir très prochainement!</p>
    </div>
{% endblock main %}